.art-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;

	box-sizing: border-box;
	/* box-shadow: 1px 2px black; */
	border: 1px solid black;
	border-radius: 15px;

	padding: 0.5em;
	color: white;

	transition: transform 0.5s;
	filter: brightness(70%);
}

.art-card:hover {
	transform: scale(1.1);
}

.art-card h3 {
	overflow-wrap: break-word;
}
