h1 {
	font-size: 2em;
}

section {
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

.hero-div {
	min-height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(../src/assets/francesco-bianco.jpg);
}
